.shoplet{
     font-family: "Edu NSW ACT Hand Pre", cursive;
     font-size: 18px;
}

.sentence{
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-size: 38px;
    font-weight: 500;
}

.inf{
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-size: 10px;
}

.signUp{
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-size: 18px;

}