.sortedNav{

 font-family: "Crimson Text", serif;


}

.shoplet {
     font-family: "Edu NSW ACT Hand Pre", cursive;
}

.shopBy {
     font-family: "Edu NSW ACT Hand Pre", cursive;
     font-size: 11px;

}

.sorting{
     font-family: "Edu NSW ACT Hand Pre", cursive;
}

