@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  ::-webkit-scrollbar {
    width:10px;
  }
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9c27b0;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #7b1fa2;
  }
}

*::selection{
  background-color: #651873;
}


